# Игнорировать виртуальную среду Python
env/
venv/

# Игнорировать временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать настройки редактора
.vscode/
.idea/

# Игнорировать системные файлы Mac
.DS_Store

# Игнорировать файлы окружения
.env
*.env

# Игнорировать node_modules если используется frontend
node_modules/
